.font-bold {
    font-weight: 700;
}

.heading {
    font-size: 24px;
}

.heading-m {
    font-size: 20px;
}

.heading-l {
    font-size: 30px;
}

.white-text {
    color: var(--color-white)
}

.bright-yellow-text {
    color: var(--primary-color-bright-yellow);
}

.gray-text {
    color: var(--neutral-color-grayish-blue);
}

.gray-light-text {
    color: var(--neutral-color-light-gray);
}


.cyan-text {
    color: var(--primary-color-cyan);
}

.paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

}

.paragraph-s {
   
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    

}